#user_route_panel {
    bottom: -500px;
    left: 10px;
    right: 10px;
    width: 100%;
    z-index: 1000;
    border-radius: 8px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px 10px darkgray;
}

.bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}