#user_route_panel {
    bottom: -500px;
    left: 0px;
    right: 10px;
    width: 100%;
    padding: 15px 15px 15px 15px;
    z-index: 1000;
    border-radius: 8px;
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 10px 10px darkgray;
}

.bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.left-panel {
    float: left;
    position: absolute;
    left: 0px;
    top: 70px;
    width:100%;
    height: 80px;
    z-index: 10;
    background-color: #fff;
}

.item {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid black;
}