.Menu {
    height: 100%;
    width: 100%;
    background-color: #fff;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.inner {
    height: 45%
}

.right-bottom{
    float: right; 
    margin-top: 10px; 
    margin-bottom: 20px;
}

#map{
    position: sticky;
    top: 0;
    z-index: 10;
}

.result_content{
    height: 70%;
    overflow: auto;
}

.search-bar{
    width: 50%;
    float: left;
}